{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if detail|length == 0 %}
            <h3>Aucune information trouvée</h3>
        {% else %}
        <section>
            <table>
                <div>la version {{detail.taxrefVersion|number_format(0)}} de taxref
                </div>
                <tr>
                    <td colspan="2">
                        {% if media and media._embedded %}
                            <img src="{{ media._embedded.media[1]['_links']['file']['href'] }}" style="width: 500px"
                                 alt="TAXON">
                        {% else %}
                            <img src="" alt="">
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="bold">Nom complet</td>
                    <td> {{ detail ? detail.fullName : '...' }} </td>
                </tr>
                <tr>
                    <td class="bold">Ordre</td>
                    <td> {{ detail ? detail.orderName : '...' }} </td>
                </tr>
                <tr>
                    <td class="bold">Famille</td>
                    <td> {{ detail ? detail.familyName : '...' }} </td>
                </tr>
                <tr>
                    <td class="bold">Descripteur</td>
                    {% set auth = detail.authority|split(',') %}
                    <td> {{ detail ? auth[0] : '...' }} </td>
                </tr>
                <tr>
                    <td class="bold">Année</td>
                     <td> {{ detail ? auth[1] : '...' }} </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="bold">Nom français</td>
                    <td> {{ detail ? detail.frenchVernacularName : '...' }} </td>
                </tr>
                <tr>
                    <td class="bold">Nom anglais</td>
                    <td> {{ detail ? detail.englishVernacularName : '...' }} </td>
                </tr>
                <tr>
                    <td class="bold">Habitat</td>
                    <td> {{ habitat }} </td>
                </tr>
            </table>
        </section>
        {% endif %}
    </div>

{% endblock %}



